td {
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 65px;
    cursor: pointer;
}

body {
    background-image: url("../public/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top: 100px;
}

button {
    position: absolute;
    left: 50%;
}

.endgame {
    display: none;
    width: 200px;
    top: 100px;
    background-color: rgba(248, 141, 19, 0.936);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: blue;
    font-size: 1em;
}